{{#partial "content"}}

<ul>
<li> Hero name{{hero_name}}</li>
<li> Hero Age{{hero_age}}</li>
<li> Hero Ability{{hero_ability}}</li>
<li> Hero Weakness{{hero_weakness}}</li>
<li> Hero Squad{{hero_squad}}</li>

</ul>
{{/partial}}
{{ > layout.hbs}}